

:root {
    --backgroud-principal:  #d7e4f7; 
  
  
  }
  
  
  .container-main
  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var( --backgroud-principal);
    color:black;
    width: 100vw;
    height: 100vh;
   
  }

  .container{
    width: 40%;
    min-height:40%;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
  }
